body, html {
    margin: 0;
    padding: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
}
/* Estilos para o cabeçalho, conteúdo principal e rodapé */
header {
    background-color: #f88706; 
    color: #fff;
    padding: 20px;
    text-align: center;
}
main {
    flex: 1; 
    background-color: #fff; 
    padding: 20px;
}

footer {
    background-color: #f88706;
    color: #fff;
    text-align: center;
    padding: 15px;
}

/* Estilos para o menu lateral */
#menu-toggle {
    display: none;
    background-color: #333333;
    padding: 10px;

}
.menu-btn {
    position :  fixed !important;
    top : 20px;
    left: 20px;
    width: 30px;    
    height: 22px;
    cursor: pointer;
    z-index: 1002;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu-btn span {
    display: block;
    height: 3px;
    width: 100%;
    background-color: #1a201a;
    border-radius: 3px;
    transition: all 0.3s ease;
    
}
.menu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #1a201a;
    color: #ffffff;
    padding-top: 60px;
    transition: left 0.3s ease;
    z-index: 1001;
}
.menu ul,li {
    list-style-type: none;
    padding: 15px 20px;
    border-bottom: 1px solid rgba(255, 250, 250, 0.1);
    
}
.menu ul,li :hover {
    background-color: rgba(255,255,255, 0.1);
    cursor: pointer;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 1000;
}
#menu-toggle:checked ~ .menu {
    left: 0;
    
}
#menu-toggle:checked ~ .overlay {
    opacity: 1;
    pointer-events: auto;

}
#menu-toggle:checked + .menu-btn span:nth-child(1) {
    transform: rotate(45deg) translate(7px,9px);
    background: #fff;
}
#menu-toggle:checked + .menu-btn span:nth-child(2) {
    opacity: 0;
        
}
#menu-toggle:checked + .menu-btn span:nth-child(3) {
    transform: rotate(-45deg) translate(4px, -6px);
    background: #fff;
}
.menu-btn span {
    transform-origin: center;
}
/* Estilos para a galeria de imagens */
.galeria {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 colunas */
    gap: 15px; /* espaço entre as imagens */
    max-width: 800px;
    margin: 0 auto;
  }

  .galeria img {
    width: 100%;
    height : 300px;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    transition: transform 0.3s ease;
  }

  .galeria img:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
 /* Estilos para os blocos de produtos */
.bloco {
    border: 2px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease;
  }

  .bloco:hover {
    transform: scale(1.02);
  }

  .bloco img {
    width: 90%;
    margin-top: 10px;
    border-radius: 8px;
  }

  .legenda {
    margin: 10px;
    padding: 8px;
    background-color: #f5f5f5;
    border-radius: 6px;
    font-size: 0.95rem;
    color: #333;
  }